img {
  width: 30%;
  /* margin: 1.6666%; */
  margin: calc(10%/6);
}

nav {
  font-size: 1.2em;
  font-family: 'Climate Crisis', cursive;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10%/6);
  padding: 1.2em 0;
}

/* section, nav */

/* border, margin, padding
padding - 여백
margin - 여유공간?
*/

/* span */

/* 30(img) + 30(img) + 30(img)

10% / 6*/