* {
  text-align: center;
  margin: 3px auto;
  /* margin: 0 auto;의 정확한 사용법은? */
}

#name,
#container-2 {
  border: solid 1px;
  border-color: rgba(170, 170, 170, 0.399);
  box-shadow: 0.3px 0px 1px 0px;
  padding-left: 10px;
  width: 400px;
}

#container-2,
#score,
#info,
#input {
  padding-left: 10px;
  text-align: left;
}

#name {
  text-align: left;
  font-size: 0.7em;
  padding: 5px;
}

#info {
  font-size: 0.95em;
  padding-bottom: 1em;
}

#inputNum {
  border-radius: 10em;
  width: 3em;
  border-color: rgba(170, 170, 170, 0.399);
}

#inputNum:hover {
  background-color: #8d99ae;
  color: aliceblue;
}

button {
  width: 8.6rem;
  height: 2.5rem;
  margin: -3px;
  padding: 0;
}

#button1 {
  color: aliceblue;
  background-color: #006d77;
  border: none;
  border-radius: 0.2em;
}

#button1:hover,
#button2:hover,
#button3:hover {
  color: #2b2d42;
  background-color: #8d99ae;
}

#button2 {
  color: aliceblue;
  background-color: #8338ec;
  border: none;
  border-radius: 0.2em;
}

#button3 {
  color: aliceblue;
  background-color: #ff006e;
  border: none;
  border-radius: 0.2em;
}