    h2 {
      color: #9EFFE3;
      background-color: rgb(0, 400, 0);
    }

    button {
      color: magenta;
      background-color: cyan;
    }

    p {
      color: olive;
      background: orange;
    }

    body {
      background-color: #000000;
    }