/* * {
  color: pink;
  background-color: cyan;
} */

body {
  background-color: antiquewhite;
}

button {
  font-size: 20px;
  background-color: cyan
}

h1,
h2 {
  color: darkslateblue;
}

#signup {
  background-color: teal;
  color: bisque;
}

span {
  color: aquamarine;
}

.tag {
  background-color: #f9844a;
  font-size: 12px;
  color: #cbf3f0;
}

.post a {
  color: #345456;
  text-decoration: none;
  font-weight: 700;
}

footer a {
  color: tomato;
}

input+button {
  background-color: pink;
}


h2+button {
  font-size: 14px;
  background-color: #e0e1dd;
}

footer>a {
  color: #abbb22;
}

input[type="password"] {
  color: greenyellow;
}

/* section[class="post"] {
  background-color: purple;
} */

/* section.post {
  background-color: white;
} */

a[href*="google"] {
  color: magenta;
}

button:hover {
  background-color: #8338ec;
  color: #e63946;
}

a:hover {
  text-decoration: underline;
}

.post {
  background-color: rgb(218, 205, 187);
}

.post:nth-of-type(3) {
  background-color: rgb(162, 152, 139);
}

/* 가상클래스와 가상요소의 차이
PSEUDO classes & PSEUDO elements */
h2::first-letter {
  font-size: 40px;
}

p::first-line {
  color: #0081a7;
}

p::selection {
  background-color: #2ec4b6;
}

/* 
.post button:active {
  background-color: #ffd670;
} */


.post button:hover {
  background-color: #ffd670;
  color: #e0e1dd;
}


button:hover {
  background-color: olive;
  font-size: 10px;
}

button {
  background-color: magenta !important;
}

/* 개인적으로 81강의 상속css가 기억에 남는다 */