.title_box {
  width: 50%;
  height: 3%;
  background: #e63946;
  border-radius: 10px;

  margin-bottom: 3%;
}

.comment_box {
  width: 50%;
  height: 5%;
  background: #e63946;
  border-radius: 10px;
}

.box_backColor {
  width: 20%;
  height: 10%;
  background: bisque;
  border-radius: 10px;

  margin-bottom: 3%;
}