html {
  font-size: 10px;
}

/* section -> div */
section {
  background-color: #7209b7;
  width: 100px;
  height: 100px;
}

div {
  background-color: #f72585;
  width: 50%;
  height: 50%;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 200%;
}

#ems h2 {
  font-size: 2em;
  /* 40px */
  margin-left: 1em;
  /* margin-left:까지 영향을 받는 것은 완벽히 이해가 안된다. */
}

#ems h3 {
  font-size: 3em;
  /* 30px */
}

#ems p {
  font-size: 1em;
}

/* article의 폰트사이즈를 기준으로 그 안에 있는 속성들을 em단위로 변화 하는 것 */
#ems {
  font-size: 10px;
}

/* padding: 0 30px; 위아래 : 0, 좌우 : 30 */
/* 
button {
  font-size: 20px;
  padding: 0 30px;
  
  border-radius: 30px;
  background-color: #83c5be;
  color: white;
} */

#ems ul {
  font-size: 1.5em;
}

button {
  font-size: 1em;
  padding: 0 1em;
  /* 위아래 : 0, 좌우 : 30 */
  border-radius: 0.5em;
  background-color: #83c5be;
  color: white;
}

#rems h2 {
  font-size: 3rem;
}

#rems h3 {
  font-size: 2rem;
}

#rems ul {
  font-size: 1.5rem;
}

#rems button {
  font-size: 1.5rem;
}