:root {
  --radius-L-size: 30px;
  --radius-M-size: 20px;
  --radius-S-size: 10px;
}

.container {
  display: flex;
  justify-content: left;
  margin: 10px;
}

.container .ctrl_box {
  margin: 40px;
}

.container .ctrl_box .padding {
  width: 180px;
  height: 130px;
  border-radius: var(--radius-L-size);
  background: #dad7cd;
}

.container .ctrl_box .margin {
  width: 180px;
  height: 130px;
  border-radius: var(--radius-L-size);
  background: #dad7cd;
}

.container .ctrl_box .border {
  display: flex;
  justify-content: column;
}

.container .ctrl_box .border .checkBox {
  width: 75px;
  height: 65px;
  border-radius: var(--radius-S-size);
  background: #dad7cd;

  padding: 10px 10px 50px 10px;
  margin-right: 5px;
}


.container .ctrl_box .border .borderBtn {
  width: 80px;
  height: 125px;
  border-radius: var(--radius-S-size);
  background: #dad7cd;
}

.container .ctrl_box .border .borderBtn .Btnes {
  margin-top: 25px;
}

.container .ctrl_box .border .borderBtn .Btnes button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 17px;
}



.container .ctrl_box .padding h4 {
  margin: 14px;
}

.container .ctrl_box .margin h4 {
  margin: 14px;
}

.container .ctrl_box .border h4 {
  margin: 14px;
}

.container .ctrl_box .padding button {
  display: flex;
  justify-content: row;
}

.container .ctrl_box .margin div button {
  /* display: flex; */
  /* justify-content: center; */
}

.container .ctrl_box .border button {
  display: flex;
  justify-content: row;
}

.ctrl_box {
  margin: 80px;
}

.Object_bg {
  margin: 80px;
  /* margin은 박스 모델 오브젝트의 영역에는 영향이 없으면 사이 간격만 영향을 미친다. */
  display: flex;
  justify-content: center;

  /* 중앙정렬필요 */
  position: relative;
  align-items: center;

  background-color: #dad7cd;
  width: 660px;
  height: 379px;

  border-radius: var(--radius-M-size);
}

.Object_bg .Object {
  display: flex;
  background-color: #ffc300;

  /* 중앙정렬필요 */
  /* position: absolute;
  top: 0%;
  left: 0%; */
  /* margin: -45px 0 0 -145px; */
  margin: 0px 0px 0px 0px;
  /* margin은 타의적으로 위치 조정 */
  padding: 0px;
  /* 글자가 들어가는 컨텐츠 obj는 건들지 않고 주변만 바뀜 */
  border: solid 0px;
  /* 태두리 */

  width: 100px;
  height: 100px;
  /* 글자를 담아 낼 수 있는 길이가 바뀜 */

  border-radius: var(--radius-L-size);
  overflow: hidden;

}

/** 중앙정렬필요 */
.Object_bg .Object2 {
  display: flex;
  background-color: #8338ec;

  /* position: absolute;
  top: 50%;
  left: 50%; */
  margin: 0px 0px 0px 0px;


  width: 100px;
  height: 100px;
  border-radius: var(--radius-L-size);
}

.Object_bg .Object3 {
  display: flex;
  background-color: #8338ec;

  position: absolute;
  top: 40px;

  /* margin: -45px 0 0 -145px; */
  margin: 0px 0px 0px 0px;
  /* margin은 타의적으로 위치 조정 */
  padding: 0px;
  /* 글자가 들어가는 컨텐츠 obj는 건들지 않고 주변만 바뀜 */
  border: solid 0px;
  /* 태두리 */

  width: 100px;
  height: 100px;
  /* 글자를 담아 낼 수 있는 길이가 바뀜 */
  border-radius: var(--radius-L-size);

}

.Object_bg .Object4 {
  display: flex;
  background-color: #8338ec;

  position: absolute;
  bottom: 40px;

  /* margin: -45px 0 0 -145px; */
  margin: 0px 0px 0px 0px;
  /* margin은 타의적으로 위치 조정 */
  padding: 0px;
  /* 글자가 들어가는 컨텐츠 obj는 건들지 않고 주변만 바뀜 */
  border: solid 0px;
  /* 태두리 */

  width: 100px;
  height: 100px;
  /* 글자를 담아 낼 수 있는 길이가 바뀜 */
  border-radius: var(--radius-L-size);

}

/* margin_btn */
.margin .margin_btn {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.margin .margin_btn button {
  display: flex;
  justify-content: center;

  padding: 3px;
  margin: 0px;

  width: 42px;
  height: 27px;
}